body{
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image: radial-gradient( circle 939px at 50.3% 51.7%,  rgba(50,166,255,1) 0%, rgba(24,98,235,1) 50.8%, rgba(50,166,255,1) 90% );
}
#container {
    padding-top: 5%;
   
}
.cabecera{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    color: white;
    font-size: 20px;
}
.contenido{
    display: flex;
    justify-content: center;
    
    /* height: 100%; */
}
.box{
     color: white;
    /* min-height: calc(100vh - 200px); */
    border: 2px solid white;/*aplicar un borde negro*/
    border-radius: 40px;
    padding: 60px 68px 40px;
    width: 400px;

}
.cabecera > div > img{
    display: flex;
    justify-content: flex-start;
    width: 60px;
    height: 60px;
    border:0px;
}
.cabecera > div {
    /* display: none; */
    width: 60px;
    height: 60px;
}
.cabecera > h1{
    /* padding-left: 10px; */
}

